@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600&family=Montserrat:wght@200;300;400;500;600;700&display=swap');

body {
    background-color: #131724;
    color: #fff;
    font-family: 'Montserrat', sans-serif !important;
}

a,
a:hover {
    color: #fff !important;
    text-decoration: none;
}

li {
    list-style: none;
}

.bg-lights {
    background: #24baef;
}