h1 {
    font-size: 50px;
    margin-bottom: 24px;
}

p {
    color: #a9a9a9;
}

.line {
    background: #a9a9a9;
    height: 1px;
    margin-bottom: 16px;
}

.vote {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}